/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #2062B8;
  /*margin: 40px 0px 70px;*/
  text-align: center;
}

body {
  padding: 10px;
}

/* login form border */
.loginForm {
  border: 2px solid #2062B8;
  padding: 2px;
  margin-bottom:6px;
}

/* flex table header row */
.flexTableHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
  font-weight: bold;
}

/* flex table border */
.flexTable {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

/* ranking list "Usuario" and "Tiempo" fields */
.rankingListColumn {
  text-align: center;
  width:20em;
}

/* invitations list "Invitacion" field */
.invitationListFirstColumn {
  text-align: left;
  width:40em;
}

/* invitations list "Respuesta" field */
.invitationListSecondColumn {
  width:15em;
}